block body
  head
    title #{title}
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="HandheldFriendly",content="True")
    meta(name="MobileOptimized",content="320")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="apple-mobile-web-app-status-bar-style",content="black-translucent")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(property="og:site_name",content="PoCheFM")
    meta(property="og:type",content="website")
    meta(property="og:title",content="PoCheFM")
    meta(property="og:description",content="Thoughts, stories and ideas.")
    meta(property="og:url",content="http://poche.fm/")
    meta(property="og:image",content="/images/background-cover-2.jpg")
    link(rel="icon",type="image/png",href="/images/favicon.png")
    link(href="/assets/images/favicon.png",rel="shortcut icon",type="image/png")
    link(href="/apple-touch-icon-precomposed.png",rel="apple-touch-icon")
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,600%7CRoboto+Slab:300,400',rel='stylesheet',type='text/css')
    link(rel="stylesheet", type='text/css', href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="/javascripts/jquery-3.1.1.min.js",type="text/javascript",charset="utf-8")
    link(rel="stylesheet", type='text/css', href="/stylesheets/main.css")
    link(rel='stylesheet', href='https://cdn.bootcss.com/materialize/0.100.2/css/materialize.min.css')
    script(src="//cdn.bootcss.com/materialize/0.97.8/js/materialize.min.js")
    script(src='/javascripts/common.js')

    link(href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body(style="background: url(/images/background-cover-2.jpg) center/cover no-repeat fixed")
    include main_header
    include player
    footer
      div.container.row.offset-s1
        div.footer-copyright.col.s9
          p 沪ICP备13026037号-1 
  script(src="/javascripts/player.js",type="text/javascript",charset="utf-8")
  script(src="/javascripts/utils.js",type="text/javascript",charset="utf-8")